@model DYRMock.Models.PetViewModel

<div class="wrapper">
    <p>@Html.ActionLink("Home", "Index", "Home") > @Model.User.Address.LocationState > @Html.DisplayTextFor(m => m.SelectedPetType)s</p>
    @if (!String.IsNullOrEmpty(Model.MsgNoResultsFound))
	{
		<div class="search-warning">
			<p>@Model.MsgNoResultsFound</p>
            
		</div>
	}

    <div class="search-filters">@Html.Partial("_FilterView")</div>
	<div id="results-found">
		<h3>@Model.SearchResults.Count Adoptable @Html.DisplayTextFor(m => m.SelectedPetType)s Found</h3>
	</div>
	<div class="container">
		<div class="pet-grid">
			@foreach (var pet in Model.SearchResults)
            {
                <div class="main-photo">
                    <img src="@Url.Content(pet.MainPhotoUrl)" alt="@pet.Breed.BreedType" />
                </div>
                <p>@pet.Name</p>
                <p>@pet.Breed.BreedType</p>
                <p>@pet.PetAge - @pet.PetGender - @pet.PetSize</p>
                <br/>
                <p>@pet.Facility.Address.LocationCity, @pet.Facility.Address.LocationState</p>
            }        
		</div>
	</div>
</div>
<script type="text/javascript">
    alert("JavaScript did this");
    
    $(document).ready(function(){
        alert("active");
    });
</script>