@model DYRMock.Models.PetViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    <p>@Html.ActionLink("Home", "Index", "Home") > @Model.Pet.Facility.LocationState > Pets</p>
	<div id="results-found">
		<h3>@Model.SearchResults.Count Adoptable @Html.DisplayTextFor(m => m.SelectedPetType)s Found</h3>
	</div>
	<div class="container">
		<div class="pet-grid">
			@foreach (var pet in Model.SearchResults)
            {
                <div class="main-photo">
                    <img src="@Url.Content(pet.MainPhotoUrl)" alt="@pet.Breed.BreedType" />
                </div>
                <p>@pet.Name</p>
                <p>@pet.Breed.BreedType</p>
                <p>@pet.PetAge - @pet.PetGender - @pet.PetSize</p>
                <br/>
                <p>@pet.Facility.LocationCity, @pet.Facility.LocationState</p>
            }        
		</div>
	</div>
</body>
</html>

